{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Ozanimais</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}" type="text/css">
</head>

<body class="register-body">
    <div class="register-container">
        <div class="logo">
            <img src="{% static 'imagens/logoong.png' %}" alt="Ozanimais Logo">
        </div>
        <form class="register-form" method="post" action="/store/">
            {% if msg %}
            <div class="alert{{class}}">
                {{msg}}
            </div>
            {% endif %}

            {% csrf_token %}
            <h2>Cadastro</h2>
            <div class="form-group">
                <label for="nome">Nome Completo:</label>
                <input type="text" id="name" name="name" >
            </div>
            <div class="form-group">
                <label for="data-nascimento">Data de Nascimento:</label>
                <input type="date" id="data-nascimento" name="data-nascimento" >
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" >
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="password">Digite Novamente sua Senha:</label>
                <input type="password" id="password-conf" name="password-conf" required>
            </div>
            <div class="form-group">
                <label for="role">Gostaria de:</label>
                <select id="role" name="role" >
                    <option value="none">Selecione uma opção</option>
                    <option value="padrinho">Ser Padrinho/Madrinha</option>
                    <option value="voluntario">Ser Voluntário</option>
                    <option value="ambos">Ambos</option>
                </select>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="termos" name="termos" >
                <label for="termos">Eu li e concordo com os <a href="#">Termos e Condições</a></label>
            </div>
            <button type="submit">Cadastrar</button>
            
        </form>
        <div class="navigation-links">
            <a href="{% url 'home:login' %}">Voltar ao Menu Principal</a>
            <a href="{% url 'home:register' %}">Cadastre-se aqui</a>
        </div>
    </div>
</body>

</html>
